body{
    padding: 0;
    margin: 0;
    font-family: 'Boogaloo', cursive;
}
h1{
    position: relative;
    text-align: center;
    font-size: 2.5em;
    color: #ffffff;
    z-index: 1;
    filter: drop-shadow(0 0px 30px #ffffff);
    cursor: pointer;
    user-select: none;
}
h1::before{
    position: absolute;
    content: "Click en el titulo";
    color: #008b8b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    bottom: -5px;
    margin-left: 30px;
    z-index: 10;

}
main{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.informacion{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    height: auto;
    background-color: #f0f8ff; 
    text-align: center;
    z-index: 100;
    animation: desaparecer 12s ease-in-out forwards;
}
@keyframes desaparecer {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 20px;
}
.grid-item{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #ffffff;
}
.red{
    color: #ff0000;
}
.lime{
    color: #00ff00;
}
.reset{
    margin-top: 50px;
    width: 200px;
    padding: 10px;
    border-radius: 2rem;
    border: 2px solid #000;
    cursor: pointer;
    background-color: #00ff00;
    color: #000000;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    transition: background 0.5s ease-in-out;
}
.reset:hover{
    transition: background 0.5s ease-in-out;
    background-color: #5df15d;
}
footer {
    font-weight: 100;
    position: absolute;
    color: #f0f8ff;
    z-index: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: 0;
    display: flex;
    justify-content: center;
}
footer a{
    color: #008b8b;
}
@media screen and (max-width:867px) {
    .informacion{
        height: 350px;
      top: 200px;
      left: auto;
      right: auto;
      bottom: auto;;
    }
}